#outer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: arial;
}

#nav{
    background: -moz-linear-gradient(#286ee0, #FFF);
}

#nav img{
    width: 15%;
}

#nav img, h1, li{
    display: inline-block;
}

#nav li a{
    padding: 12px;
    margin: 5px;
    background: -moz-linear-gradient(#0b1d3a, #202020);
    color: white;
    border-radius: 25px
}

#about, #donate{
    font-size: 25px;
}
