#outer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: arial;
}

#nav{
    background-color: #286ee0;
}

#nav img{
    width: 15%;
}

#nav img, h1, li{
    display: inline-block;
}

#nav li a{
    padding: 12px;
    margin: 5px;
    background: -moz-linear-gradient(#0b1d3a, #202020);
    color: white;
    border-radius: 25px
}

#about, #donate{
    font-size: 25px;
}

#varios{
  text-align: center;
  background-image: url('https://cdn.glitch.com/f50c1a29-1c67-48c7-9ec9-06cae7532fee%2Fsplash.png?1558123411101');
  background-repeat: no-repeat;
  padding-top: 40vh;
  padding-bottom: 40vh;
  color: white;
  background-size: contain;
  background-size: cover;
}
