body{
  background-image: url("https://cdn.glitch.com/6c4c63e6-8a11-4f92-8209-0d6e0b4ab36e%2Fsite%20backgroud.png?1553731125787");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: arial;
}

img.logo{
  width: 240px;
  margin-bottom: 60px;
}

h1.title{
  font-size: 50px;
}

ul.support{
  font-size: 20px;
}

p.bio{
  font-size: 20px;
}

div.navbar{
  height: 240px; 
  float: right;
}

button.nav{
  padding: 10px;
  background: none;
  font-size: 20px;
  border: none;
}

button.nav:hover{  
  font-size: 25px;
  background-color: white;
  opacity: 0.4;
  border-radius: 10px;
}
